body,
h1,
h2,
p {
  margin: 0;
}

body {
  font-family: sans-serif;
}

h1,
h2 {
  font-family: "Caveat", cursive;
}

main {
  margin: 20px;
}

p,
div,
button {
  font-size: large;
}

button {
  margin: 10px 10px 10px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #1e60a9;
  color: white;
}
